@model ViewPack<object>

@* Buttons *@
<div class="container-fluid text-center mb-md-2">
    <a asp-page="/Index" class="btn btn-sm btn-primary" style="width: 100px;">
        <span>Regresar</span>
    </a>
</div>