@model DateTime

@inject IOptions<ApplicationSettings> _options

<div class="card-footer bg-white">
    <div class="row justify-content-end">
        <div class="col-auto">
            <small>@_options.Value.ViabilidadContratos.Strings.Registrado </small>
            <small id="cwa-last-save">@Model.ApplyFormat(_options.Value.DateTimeFormat)</small>
        </div>
    </div>
</div>